<%= render 'carousel' %>

<div class="containter-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="about">
        <h2 class="text-center">PRIVATE AIRPORT MIAMI</h2>
        <p>
          Centrally located at Opa-locka Executive Airport (KOPF) – the largest of Miami-Dade County’s general airports– Fontainebleau Aviation is convenient to Miami, Hollywood-Fort Lauderdale, and surrounding communities, and can accommodate virtually any type of aircraft, including Boeing Business Jets (BBJ).
          At Fontainebleau Aviation, safety is our number one priority, and we accompany all that we do with the highest level of service and sophistication. Our first-class facility offers a warm, professional ambience, and our staff of seasoned aviation and customer service professionals are committed to exceeding your expectations.
          From the moment your jet lands, the benefits of selecting Fontainebleau Aviation are obvious. Immaculate hangar facilities are ready and waiting. Cheerful line personnel quickly and professionally attend to your aircraft. Gracious counter staff welcomes you to the magnificent lobby. Every service is delivered with a personal touch.
          From our excellent location to our seamless offering of aircraft fueling, maintenance, and detailing services and our broad range of concierge services to make your visit everything you want it to be, it’s easy to see how Fontainebleau Aviation has earned the respect and loyalty of those with even the most discriminating taste.
          Just as you’ve come to expect from the Fontainebleau brand, we embody the excitement, glamour, and service of a previous era, cloaked with the sophistication and convenience of 21st century luxury. We invite you to explore the remainder of our site to learn more about the benefits of selecting Fontainebleau Aviation for your next visit to the Miami area.
        </p>
      </anout>
    </div>
  </div><!-- end of about row-->
</div>

<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 logo">
      <img src="http://fontainebleauaviation.com/wp-content/uploads/2015/05/logo_FONTAINEBLEAU.png" class="img-responsive center-block">
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center social">
        <h3>Keep in touch</h3>
        <ul class="socials list-inline">
          <li class="twitter">
            <a href="#" target="_blank", class="btn-social"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="instagram">
            <a href="#" target="_blank, "class="btn-social"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="youtube">
            <a href="#" target="_blank, "class="btn-social"><i class="fa fa-youtube"></i></a>
          </li>
          <li class="facebook">
            <a href="#" target="_blank, "class="btn-social"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
        <p>© All rights reserved.</p>
      </div>
    </div>
  </div>
</div>



