<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="http://fontainebleauaviation.com/wp-content/uploads/2015/05/Fontainebleau-Logo-Slide.jpg" class="img-responsive">
        </div>
        <div class="item">
            <img src="/assets/airplane.png" class="img-responsive">
        </div>
    </div>
</div>
